<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @text_block.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @text_block.body %>
</p>

<p>
  <strong>Position:</strong>
  <%= @text_block.position %>
</p>

<%= link_to 'Edit', edit_text_block_path(@text_block) %> |
<%= link_to 'Back', text_blocks_path %>
